/* général */
body {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
}

footer, nav {
    background-color: #3c913a;
}

/* header */
nav {
    height: 40%;
}

nav a {
    width: 5%;
}

nav img {
    width: 100%;
}

.carousel {
    height: fit-content;
}

/* main */
main a {
    width: 10%;
}
/* FOOTER */

.g-i-t form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

form .g-inp {
    padding: .25rem .5rem;
    font-size: 16px;
}

.g-inp textarea {
    height: 150px;
}


/* -------------------------------- Media 1199 -------------------------------- */

@media only screen and (max-width: 1199px) {

    /* Contenu général */

    label,
    #toggle {
        display: none;
    }

    body {
        margin: auto;
        padding: 0;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 14px;
        background-color: #ebebeb;
    }


    /* footer */
    .f-item-con {
        padding: 1.5rem 4rem;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-gap: 2rem;
    }

    footer .app-name {
        color: white;
        border-left: 4px solid var(--theme-col);
        padding-left: 1.5rem;
        font-size: 1.875rem;
        line-height: 2.25rem;
        font-weight: 700;
    }

    .app-name .app-initial {
        color: var(--theme-col);
    }

    footer .app-info p {
        color: white;
        padding-left: 1.65rem;
    }

    footer .footer-title {
        font-size: 1.25rem;
        line-height: 1.75rem;
        color: white;
        border-left: 4px solid var(--theme-col);
        padding-left: 1.5rem;
        height: fit-content;
    }

    footer ul {
        padding-left: 1.75rem;
        color: white;
        font-size: 0.875rem
            /* 14px */
        ;
        line-height: 1.25rem;
        margin-top: .5rem;
    }

    footer ul li {
        margin: .25rem 0;
        cursor: pointer;
        color: #d4d4d4;
        width: fit-content;
    }

    footer ul li:hover {
        color: white;
    }

    footer .cr-con {
        background-color: #357534;
        color: white;
        padding: 1rem 4rem;
        text-align: center;
    }

    .g-i-t {
        display: grid;
        grid-column-start: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .g-i-t form {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        --tw-space-y-reverse: 0;
        margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
    }

    form .g-inp {
        padding: .25rem .5rem;
        font-size: 16px;
    }

    .g-inp textarea {
        height: 150px;
    }

    .back_to_top {
        float: right;
        position: relative;
        right: 5%;
        color: black;
    }

    .card {
        margin: 10px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        width: 300px;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0;
    }

    .card-body p {
        font-size: 13px;
        margin: 0;
    }

}

/* -------------------------------- Version 919 -------------------------------- */

@media only screen and (max-width: 919px) {

    label,
    #toggle {
        display: none;
    }

    body {
        margin: auto;
        padding: 0;
        font-family: Helvetica;
        font-size: 14px;
        background-color: #ebebeb;
    }

    /* Menu du haut */

    label {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        color: white;
        cursor: pointer;
    }

    #toggle:checked+.main_pages {
        display: flex;
        position: fixed;
        right: 1%;
    }

    .f-item-con {
        padding: 1.5rem 4rem;
        display: block;
        /* grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 2rem; */
    }

    footer .app-name {
        color: white;
        border-left: 4px solid var(--theme-col);
        padding-left: 1.5rem;
        font-size: 1.875rem;
        line-height: 2.25rem;
        font-weight: 700;
    }

    .app-name .app-initial {
        color: var(--theme-col);
    }

    footer .app-info p {
        color: white;
        padding-left: 1.65rem;
    }

    footer .footer-title {
        font-size: 1.25rem;
        line-height: 1.75rem;
        color: white;
        border-left: 4px solid var(--theme-col);
        padding-left: 1.5rem;
        height: fit-content;
    }

    footer ul {
        padding-left: 1.75rem;
        color: white;
        font-size: 0.875rem;
        line-height: 1.25rem;
        margin-top: .5rem;
    }

    footer ul li {
        margin: .25rem 0;
        cursor: pointer;
        color: #d4d4d4;
        width: fit-content;
    }

    footer ul li:hover {
        color: white;
    }

    footer .cr-con {
        background-color: #357534;
        color: white;
        padding: 1rem 4rem;
        text-align: center;
    }
}

/* -------------------------------- Version 767 -------------------------------- */
@media only screen and (min-width: 767px) {
    /* FOOTER */
    footer {
        background-color: #3c913a;
    }

    .f-item-con {
        padding: 1.5rem 4rem;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 2rem;
    }

    footer .app-name {
        color: white;
        border-left: 4px solid var(--theme-col);
        padding-left: 1.5rem;
        font-size: 1.875rem;
        line-height: 2.25rem;
        font-weight: 700;
    }

    .app-name .app-initial {
        color: var(--theme-col);
    }

    footer .app-info p {
        color: white;
        padding-left: 1.65rem;
    }

    footer .footer-title {
        font-size: 1.25rem;
        line-height: 1.75rem;
        color: white;
        border-left: 4px solid var(--theme-col);
        padding-left: 1.5rem;
        height: fit-content;
    }

    footer ul {
        padding-left: 1.75rem;
        color: white;
        font-size: 0.875rem
            /* 14px */
        ;
        line-height: 1.25rem;
        margin-top: .5rem;
    }

    footer ul li {
        margin: .25rem 0;
        cursor: pointer;
        color: #d4d4d4;
        width: fit-content;
    }

    footer ul li:hover {
        color: white;
    }

    footer .cr-con {
        background-color: #357534;
        color: white;
        padding: 1rem 4rem;
        text-align: center;
    }
}

@media only screen and (max-width: 767px) {

    /* FOOTER */

    .f-item-con {
        padding: 1.5rem 4rem;
        display: block;
    }

    footer .app-name {
        color: white;
        border-left: 4px solid var(--theme-col);
        padding-left: 1.5rem;
        font-size: 1.875rem;
        line-height: 2.25rem;
        font-weight: 700;
    }

    .app-name .app-initial {
        color: var(--theme-col);
    }

    footer .app-info p {
        color: white;
        padding-left: 1.65rem;
    }

    footer .footer-title {
        font-size: 1.25rem;
        line-height: 1.75rem;
        color: white;
        border-left: 4px solid var(--theme-col);
        padding-left: 1.5rem;
        height: fit-content;
    }

    footer ul {
        padding-left: 1.75rem;
        color: white;
        font-size: 0.875rem
            /* 14px */
        ;
        line-height: 1.25rem;
        margin-top: .5rem;
    }

    footer ul li {
        margin: .25rem 0;
        cursor: pointer;
        color: #d4d4d4;
        width: fit-content;
    }

    footer ul li:hover {
        color: white;
    }

    footer .cr-con {
        background-color: #357534;
        color: white;
        padding: 1rem 4rem;
        text-align: center;
    }
}

/* BACK TO TOP */
.btt {
    position: fixed;
    background-color: transparent;
    border: none;
    outline: none;
    bottom: 15px;
    right: 1%;
    height: 50px;
    width: 50px;
}